.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content:center;
    width: 100vw;
    justify-items: stretch;
    align-items: center;
    background-color: #F9F9FA;
    margin: 0;
    
    .right-contact{
        max-width:700px;
        background: white;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-shadow: 5px 10px 40px rgb(44, 44, 44);
        margin-right: 100px;
        margin-left: 50px;
        margin-top:100px;
        margin-bottom:100px;
        padding: 80px;
        h5{
            font-family:'Work Sans', sans-serif;
            font-size: 45px;
            color:$font_color_dark;
        }
        #spacer{
            font-family:'Work Sans', sans-serif;
            font-size: 25px;
            opacity: 80%;
            color:$font_color_dark;
            padding-bottom: 15px;
        }
        hr{
            color: darkcyan;
            font-weight: 700;
            margin-bottom: 50px;
        }
        .contact-group{
            display: flex;
            flex-direction: row;
            p{
                font-family:'Work Sans', sans-serif;
                font-size: 25px;
                color:$font_color_dark;
                font-weight: 400;
                padding-right: 20px;
            }
            a{
                font-family:'Work Sans', sans-serif;
                font-size: 20px;
                color:$font_color_dark;
                text-decoration: none;
                transition: 0.4s all ease;
            }
            a:hover{
                opacity: 80%;
                color:darkcyan;
            }
        .socials-info{
            .socials-items{
                padding-bottom: 25px;
                img{
                    width:25px;
                    opacity: 100%;
                    transition: 0.4s all ease;
                    }
                a{
                    text-decoration: none;
                    transition:0.4s all ease;
                    opacity: 100%;
                    font-style: 'Work Sans', sans-serif;
                    font-size: 20px;
                    color: $font_color_dark;
                    margin-left: 15px;
                }
                a:hover{
                    opacity: 80%;
                    color:darkcyan;
                }
                }
            }
        }
    }
    .left-contact{
        justify-self: center;
        align-self: center;
        img{
            height:100vh;
            padding:100px;
            justify-self: center;
            align-self: center;
        }
    }
}