@import "variables";

///Gallery Page///
.gallery-splash{
    background-image: url("../images/ProductFeatures/Splashimage.png");
    background-size:cover;
    height:8vh;
    color:#fff;
    display: flex;
    z-index: 99;

}

.album-grid{
    align-content: center;
    justify-content: center;
    display:flex;
    flex-direction: row;
    margin-top:100px;
    margin-bottom:100px;


    div{ 
        justify-self: center;
        align-self: center;
        padding:0px;
        
        a img{
            align-self:center;
            justify-self:center;
            height:85vh;
            padding:0;
        }
    }
}