@import "variables";

///Slate///
.slate-splash{
    background-image: url("../images/ProductFeatures/slate/darkboard.png");
    background-size:cover;
    background-position: bottom center;
    height:100vh;
    display: flex;
}

div{
    .product-grid1{
        display:grid;
        grid-template-columns: 1fr;
        justify-content:center;
        background-color: #F9F9FA;
        .students{
            margin-top: 100px;
            display:grid;
            grid-template-columns: 1fr 1fr;
            background-color: white;
            width:100vw;

            #ipadkid{
            width:50vw;
            }
            #computerkid{
                width:40vw;
                justify-self: right;
            }
            #classroom{
                width:40vw;
            }
            div{
                display:grid;
                grid-template-columns: 1fr;
                align-content: space-around;
                align-self: center;
                justify-content:center;
                padding:100px;
                width:33vw;
                margin-left: 10vw;
                margin-right: 10vw;
                
                h4{
                    width: 34vw;   
                }
                p{
                    width: 34vw;
                    padding:10px 15px 0px 15px;
                    align-self:center;
                    border-left: 1px solid black;
                    font-size: 18px;
                }
            }
        }
        #video{
            display: grid;
            grid-template-columns: 1fr;
            align-content: center;
            margin-top:100px;
            margin-bottom:100px;
            img{
                width:95vw;
            }
        }
        #mission{
            width:100vw;
            margin-top: 100px;
            margin-bottom: 100px;
            height:60vh;
            display: grid;
            grid-template-columns: 1fr;
            align-content: center;
            background-image: url("../images/ProductFeatures/slate/papers.jpg");
            background-size: cover;
            div{
                padding:50px;
                align-self:center;
                justify-self:center;
                background-color: white;
                box-shadow: 10px 20px 40px black;
                h4{
                    width:80vw;
                    opacity:80%;
                    padding:25px;
                    text-align: center;
                }
            }
        }
        #slatesketch{
            width:100vw;
            margin:100px 0px;
            display: grid;
            grid-template-rows: 1fr;
            background-color: white;
            img{
                width:70vw;
                align-self: center;
                justify-self: center;
            }
        }
        .sidebyside{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            width:100vw;
            align-content: center;
            justify-content: center;
            gap:0px;
            background-color: white;
            img{
                width:33vw;
                align-self: center;
                justify-content: center;
            }
            div{
                display:grid;
                grid-template-columns: 1fr;
                align-content: space-around;
                align-self: center;
                justify-content:center;
                padding:100px;
                width:33vw;
                
                #not-centered-title{
                    width: 25vw;   
                }
                #center-title{
                    width:25vw;
                    text-align: center;
                }
                #center-text{
                    width: 25vw;
                    padding:10px 15px 0px 15px;
                    align-self:center;
                    text-align: center;
                    font-size: 18px;
                }
                #non-centered{
                    width: 25vw;
                    padding:10px 15px 0px 15px;
                    align-self:center;
                    border-left: 1px solid black;
                    font-size: 18px;
                }
            }
        }
        #hovertext{
                background-image: url("../images/ProductFeatures/slate/Tablet.355.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position:center;
                width:100vw;
                height:100vh;
                display:flex;
                justify-self: center;
                div{
                    display:grid;
                    grid-template-columns: 1fr;
                    width:100vw;
                    justify-self: center;
                    align-self:center;
                    background-color: white;
                    padding:50px;
                    opacity:0%;
                    border-top:1px solid black;
                    border-bottom:1px solid black;
                    padding:50px;
                    transition: .8s all ease;
                    h4{max-width: 500px;
                    justify-self: center;}
                    p{max-width: 500px;
                    justify-self: center;}
                }
                div:hover{
                    opacity: 100%;
                }
            }
        
        #class{
            display:grid;
            align-content:space-between;
            grid-template-columns: 1fr 1fr;
            margin-top: 100px;
            img{
                width: 50vw;
            }
        }

        #text{
            display:grid;
            grid-template-columns: 1fr;
            align-content: center;
            text-align: center;
            width: 70vw;
            margin:100px 0px;
            background-color: white;
            padding:50px 25px;
            box-shadow: 10px 20px 40px gray;

        }

        div{
            display:flex;
            justify-self: center;
            img{
                width:100vw;
                }
            }
    }
}
