.slate-splash {
  background-image: url("../images/ProductFeatures/slate/darkboard.png");
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div .product-grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F9F9FA;
}

div .product-grid1 .students {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: white;
  width: 100vw;
}

div .product-grid1 .students #ipadkid {
  width: 50vw;
}

div .product-grid1 .students #computerkid {
  width: 40vw;
  -ms-grid-column-align: right;
      justify-self: right;
}

div .product-grid1 .students #classroom {
  width: 40vw;
}

div .product-grid1 .students div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
  width: 33vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

div .product-grid1 .students div h4 {
  width: 34vw;
}

div .product-grid1 .students div p {
  width: 34vw;
  padding: 10px 15px 0px 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-left: 1px solid black;
  font-size: 18px;
}

div .product-grid1 #video {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

div .product-grid1 #video img {
  width: 95vw;
}

div .product-grid1 #mission {
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("../images/ProductFeatures/slate/papers.jpg");
  background-size: cover;
}

div .product-grid1 #mission div {
  padding: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: white;
  -webkit-box-shadow: 10px 20px 40px black;
          box-shadow: 10px 20px 40px black;
}

div .product-grid1 #mission div h4 {
  width: 80vw;
  opacity: 80%;
  padding: 25px;
  text-align: center;
}

div .product-grid1 #slatesketch {
  width: 100vw;
  margin: 100px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: white;
}

div .product-grid1 #slatesketch img {
  width: 70vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

div .product-grid1 .sidebyside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px;
  background-color: white;
}

div .product-grid1 .sidebyside img {
  width: 33vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div .product-grid1 .sidebyside div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
  width: 33vw;
}

div .product-grid1 .sidebyside div #not-centered-title {
  width: 25vw;
}

div .product-grid1 .sidebyside div #center-title {
  width: 25vw;
  text-align: center;
}

div .product-grid1 .sidebyside div #center-text {
  width: 25vw;
  padding: 10px 15px 0px 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 18px;
}

div .product-grid1 .sidebyside div #non-centered {
  width: 25vw;
  padding: 10px 15px 0px 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-left: 1px solid black;
  font-size: 18px;
}

div .product-grid1 #hovertext {
  background-image: url("../images/ProductFeatures/slate/Tablet.355.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

div .product-grid1 #hovertext div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100vw;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
  padding: 50px;
  opacity: 0%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 50px;
  -webkit-transition: .8s all ease;
  transition: .8s all ease;
}

div .product-grid1 #hovertext div h4 {
  max-width: 500px;
  -ms-grid-column-align: center;
      justify-self: center;
}

div .product-grid1 #hovertext div p {
  max-width: 500px;
  -ms-grid-column-align: center;
      justify-self: center;
}

div .product-grid1 #hovertext div:hover {
  opacity: 100%;
}

div .product-grid1 #class {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

div .product-grid1 #class img {
  width: 50vw;
}

div .product-grid1 #text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 70vw;
  margin: 100px 0px;
  background-color: white;
  padding: 50px 25px;
  -webkit-box-shadow: 10px 20px 40px gray;
          box-shadow: 10px 20px 40px gray;
}

div .product-grid1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

div .product-grid1 div img {
  width: 100vw;
}
/*# sourceMappingURL=slate.css.map */